*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(233, 233, 233);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    letter-spacing: .5px;
    margin: 5px 0;
    color: rgba(39, 39, 39, 1);
}

h1 {
    margin-bottom: 15px;
}

.small {
    font-size: small;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.normal {
    font-weight: normal;
}

.highlight {
    color: rgb(17, 158, 17);
}

.light {
    color: #e4e4e4;
}

header,
footer,
section.content {
    display: flex;
    justify-content: center;
}

header,
footer {
    color: #e4e4e4;
    background-color: rgba(39, 39, 39, 1);
}

.sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    padding: 1rem 3rem;
}

.sub-container.column {
    flex-direction: column;
    align-items: start;
}

.navigation-bar ul {
    display: flex;
    gap: 1rem;
}

.navigation-bar ul li a {
    color: #e4e4e4;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.navigation-bar ul li a:hover {
    color: rgb(17, 158, 17);
    border-bottom: 2px solid rgb(17, 158, 17);
}

.email {
    color: rgb(17, 158, 17);
}

.email:hover {
    text-decoration: underline;
}

.home-section,
.event-section {
    border-bottom: 1px solid rgba(39, 39, 39, 1);
}

.home-section,
.event-section,
.register-section {
    width: 100%;
    min-height: 50vh;
    padding: 2rem 0;
    /* border-radius: 10px; */
}

.event-section span {
    display: block;
    margin: 8px 0;
    color: rgba(39, 39, 39, 1);
    font-size: larger;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: 10px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    color: #e4e4e4;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
    background-color: rgb(17, 158, 17);
}

button:hover,
.btn-submit:hover {
    opacity: 0.8;
}

.btn-reset {
    background-color: rgba(39, 39, 39, 1);
    opacity: 0.8;
}

.btn-reset:hover {
    opacity: 0.6;
}

form {
    margin-top: 20px;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.flex-row {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.check-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: rgba(39, 39, 39, 1);
}

input,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    height: 18px;
    accent-color: rgba(39, 39, 39, 1);
    cursor: pointer;
}

input:focus,
select:focus {
    outline: none;
    border-color: rgb(17, 158, 17);
}